<h4>Enter the Crypto you are looking for</h4>

<%= form_tag pages_lookup_path, :method => 'POST', class: "form-inline my-2 my-lg-0" do %>
  <%= text_field_tag 'symbol', nil, placeholder: 'Enter Crypto Symbol', size: 50, class: "form-control mr-sm-2" %>
  <%= submit_tag 'Lookup Stock Quote', class: "btn btn-primary" %>
<% end %>


<% if @symbol %>
  <h2>Search Results</h2>
  <% for x in @lookup_coin %>
    <% if @symbol == x["symbol"] %>
        <%= x["name"] %>: <%= x["price_usd"] %>
    <% end %>
  <% end %>
<% end %>

